<!DOCTYPE HTML>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Szklanka.pl - Forum o wszystkim dla wszystkich</title>
    <meta name="description" content="Serwis poświęcony celom rozwiązywania problemów na dowolne tematy.
        Naucz się wszystkiego, co chcesz wiedzieć!" />
    <meta name="keywords" content="forum, napisz post, post, informacja, dowiedz sie czego chcesz, pomoc" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i,900,900i&display=swap&subset=latin-ext" rel="stylesheet">
</head>

<body>

<div id="container">

    <div id="logo"><img th:src="@{/img/logo.png}">
        SZKLANKA NA STÓŁ </div>

    <div id="menu">
        <div class="option"><a th:href="@{/}">HOME</a></div>
        <div class="option"><a th:href="@{/forum}">FORUM</a></div>
        <div class="option"><a th:href="@{/register}">REJESTRACJA</a></div>
        <div class="option"><a th:href="@{/loginform}">ZALOGUJ SIĘ</a></div>
        <div class="option"><a th:href="@{/project}">O PROJEKCIE</a></div>
        <div style="clear:both;"></div>
    </div>

    <div id="topbar">
        <div id="topbarL">
            <img th:src="@{/img/glass.png}">
        </div>
         <div id="topbarR">
             <span class="bigtitle">O projekcie słów kilka</span>
             <div style="height: 15px;"></div>
             Projekt ma na celu stworzenie strony funkcjonującej na zasadach typowego forum internetowego.
             Każdy gość może tu przejrzeć udostępnione posty oraz dyskusje pod nimi prowadzone. Aby dołączyć do społeczności
             lub dodawać własne posty - konieczne jest założenie konta. Po założeniu konta każdy otrzymuje pełen dostęp do serwisu.
             Po co? Aby można było pytać i otrzymać wiarygodne względnie odpowiedzi :)
                     </div>
        <div style="clear:both;"></div>
    </div>

    <div id="sidebar">
        <div sec:authorize="isAuthenticated()">Zalogowany jako <span style="color: #fa5042" sec:authentication="name"></span><hr>
            <form action="logout" th:action="@{/logout}" method="post" >
                <input type="submit" value="Wyloguj" /></form></div><hr>
        <div class="optionL"><a th:href="@{/}">HOME</a></div>
        <div class="optionL"><a th:href="@{/forum}">FORUM</a></div>
        <div class="optionL"><a th:href="@{/project}">O PROJEKCIE</a></div>

        <div style="clear:both;"></div>
    </div>

    <div id="content">
        <span class="bigtitle">STRONA GŁÓWNA</span>
        <div style="height: 15px;"></div>
        <div class="dottedline"></div>

        Random main page content.


    </div>

    <div id="footer">
        Szklana na stół! Zapytaj o to co chcesz wiedzieć! Strona w sieci od 2019 roku. &copy; Wszelkie prawa zastrzeżone
    </div>




</div>

</body>

</html>